.submit-form-container{
    .submit-input{
        flex-grow: 1;
    }
    .submit-btn{
        &:disabled{
            background-color: lighten($submit-color, 20%);
            cursor: not-allowed;
        }
        cursor: pointer;
        background-color: $submit-color;
        font-family: $main-font;
        color: $header-color;
        border-style: none;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 1.5em;
        padding: .5em;
    }
    @include responsive($mobile){
        position: fixed;
        bottom: 0;
        width: 100%;
    }
}