// colors

$main-text-color: #656565;
$main-bg: #232323;
$header-color: #fff;
$submit-color: #4c4c4b;
$card-color: #2f2f2f;
$selected-color: #e06c6c;

// breakpoints
$mobile: 780px;
$desktop: 1000px;

// typography

$main-font: 'Open Sans'